main.Home[custom-agua-item="screen"] {
    
background-color: #FFFFFF ;
overflow-y: scroll ;
scrollbar-width: none ;
-ms-overflow-style: none ;
}
section.homebanner[custom-agua-item="layer"] {
    
justify-content: center ;
align-items: center ;

padding-top: 22px ;
padding-bottom: 22px ;
padding-left: 80px ;
padding-right: 80px ;
box-sizing: border-box ;
background-color: #F5F5F5 ;
min-height:  unset ;height: fit-content ;flex-shrink: 0;

min-width: unset;
width: 100%;

}
p.text-1-d3fecca2132345e49c8c93fa9c44f55b[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 16px ;
font-weight: bold ;



}
section.divider[custom-agua-item="layer"] {
    

background-color: #E0E0E0 ;
height: 1px ;min-height: 1px ;
min-width: unset;
width: 100%;

}
section.homeheader[custom-agua-item="layer"] {
    

min-height:  unset ;height: fit-content ;flex-shrink: 0;

min-width: unset;
width: 100%;

}
section.homemenu[custom-agua-item="layer"] {
    

padding-bottom: 18px ;
padding-left: 80px ;
padding-right: 80px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width: unset;
width: 100%;

}
section.homemenudesktop[custom-agua-item="layer"] {
    
justify-content: center ;
align-items: center ;

min-height:  unset ;height: fit-content ;
min-width: unset;
width: 100%;

}
section.layer-14-87a09d4412024edf9d4d374637b06392[custom-agua-item="layer"] {
    flex-direction: row ;
align-items: center ;
justify-content: space-between ;

padding-top: 18px ;
padding-bottom: 18px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width: unset;
width: 100%;

position: relative;
}
section.layer-23-96c7ec2cb4e44fe4871e25fe4667f447[custom-agua-item="layer"] {
    flex-direction: row ;
align-items: center ;
justify-content: center ;

min-height: unset;
height: 100%;

min-width: unset;
width: 100%;

position: absolute;
}
p.text-7-1be88a869df2490d9c3ef0f8e8987c9f[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 16px ;
font-weight: bold ;

margin-left: 16px ;
margin-right: 16px ;
box-sizing: border-box ;


}
p.text-8-8fced5db04e3454086bc3bb5336e473d[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 16px ;


margin-left: 16px ;
margin-right: 16px ;
box-sizing: border-box ;


}
p.text-9-406739ddf9284d7e80abdbb44e1e1eba[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 16px ;


margin-left: 16px ;
margin-right: 16px ;
box-sizing: border-box ;


}
section.layer-24-9cb29b486c294de5bf7e051b477a9039[custom-agua-item="layer"] {
    

min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
z-index: 1;
}
.imageview-2-a8b0c1fc4243404a94fcf2004c05755e[custom-agua-item="imageView"] {
    
height: 30px ;min-height: 30px ;
width: 100px ;min-width: 100px ;
}
section.layer-25-e598ed483728499c8dc122cac7562be6[custom-agua-item="layer"] {
    flex-direction: row ;
align-items: center ;
justify-content: center ;

min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
z-index: 1;
}
p.text-10-050fec7cb1fd4677b5b6090f94d71962[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 14px ;


margin-left: 10px ;
margin-right: 10px ;
box-sizing: border-box ;


}
.icon-4-4411bf9006ae42b9ac3f049c96fce558[custom-agua-item="icon"] {
    
margin-left: 10px ;
margin-right: 10px ;
box-sizing: border-box ;
height: 24px ;min-height: 24px ;
width: 24px ;min-width: 24px ; font-size: 24px ;
}
section.layer-26-503c3e91ce524f208d4fe958b3be2b2a[custom-agua-item="layer"] {
    flex-direction: row ;
border: 1px solid #E0E0E0;
border-radius: 25px ;
padding-top: 10px ;
padding-bottom: 10px ;
margin-left: 8px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
}
.icon-5-521239dab55d477c80ddc047800735f9[custom-agua-item="icon"] {
    
margin-left: 10px ;
margin-right: 4px ;
box-sizing: border-box ;
height: 24px ;min-height: 24px ;
width: 24px ;min-width: 24px ; font-size: 24px ;
}
.icon-6-92a33771ab25410b91f24f388476e3b5[custom-agua-item="icon"] {
    
margin-left: 4px ;
margin-right: 10px ;
box-sizing: border-box ;
height: 24px ;min-height: 24px ;
width: 24px ;min-width: 24px ; font-size: 24px ;
}
section.layer-15-50b404c305c34c4aa25f534d7851e9c9[custom-agua-item="layer"] {
    flex-direction: row ;
align-items: center ;
justify-content: center ;
border: 1px solid #E0E0E0;
border-radius: 50px ;
box-shadow: 0px 0px 5px #E0E0E0 ;
padding-top: 10px ;
padding-bottom: 10px ;
padding-left: 10px ;
padding-right: 10px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
}
section.layer-25-0e67ec5cda7741c28de85350c958a4df[custom-agua-item="layer"] {
    

margin-left: 28px ;
margin-right: 64px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
}
p.text-11-43f3cda217fd4431907a40672b74aacc[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 12px ;
font-weight: bold ;



}
p.text-12-59799e6d88174c24bfc206744f770c3a[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 14px ;




}
section.layer-26-c078473592374be8b5422bbe2da36f0d[custom-agua-item="layer"] {
    

margin-left: 64px ;
margin-right: 48px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
}
p.text-13-01b5d13e66364a56a3436c7e90ff85be[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 12px ;
font-weight: bold ;



}
p.text-14-7fa1692cbccd4c8a9eb8aa76269e6cd3[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 14px ;




}
section.layer-27-92d7467e5f554fe2a61e3a8fe1ebcc31[custom-agua-item="layer"] {
    

margin-left: 48px ;
margin-right: 48px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
}
p.text-15-9eae9db4b76d4ace8c7f1bb82bdf30d0[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 12px ;
font-weight: bold ;



}
p.text-16-cc6641933a3448aea3079627482548df[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 14px ;




}
section.layer-28-36de892750474ce8831b73384aea57fe[custom-agua-item="layer"] {
    

margin-left: 48px ;
margin-right: 64px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
}
p.text-17-4f0c455196af436b9fecbf5aa98c647b[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 12px ;
font-weight: bold ;



}
p.text-18-2ec86bbeef2742d390ceb5c038969cb7[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 14px ;




}
section.layer-29-4e1033e9b8ea412abae6ed8edf646b8c[custom-agua-item="layer"] {
    
border-radius: 25px ;
padding-top: 8px ;
padding-bottom: 8px ;
padding-left: 8px ;
padding-right: 8px ;
box-sizing: border-box ;
background-color: #FF385C ;
min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
}
.icon-7-21b2b3b6669d47aa93520b0d127cbfe6[custom-agua-item="icon"] {
    
background: #F9F9F9 ;
height: 28px ;min-height: 28px ;
width: 28px ;min-width: 28px ; font-size: 28px ;
}
section.homemenutablet[custom-agua-item="layer"] {
    flex-direction: row ;
align-items: center ;
justify-content: space-between ;

min-height:  unset ;height: fit-content ;
min-width: unset;
width: 100%;

}
section.layer-242-aa7dd3380b084d4cbcbedaf11174c1e1[custom-agua-item="layer"] {
    

min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
z-index: 1;
}
.imageview-22-7e5b24a7057b42cfa759b6a758219dd6[custom-agua-item="imageView"] {
    
height: 30px ;min-height: 30px ;
width: 100px ;min-width: 100px ;
}
section.layer-59-79855058d2cc45f1b62e7300647e0c3a[custom-agua-item="layer"] {
    

height: 100px ;min-height: 100px ;
width: 300px ;min-width: 300px ;
}
section.layer-252-a7ad8d057a6a44f4b3a696595d98ef80[custom-agua-item="layer"] {
    flex-direction: row ;
align-items: center ;
justify-content: center ;

min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
z-index: 1;
}
p.text-102-7274e59096d94e26b0f2b14336863ff7[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 14px ;


margin-left: 10px ;
margin-right: 10px ;
box-sizing: border-box ;


}
.icon-42-b76b03ec5e9e47c4a798fb67e873a643[custom-agua-item="icon"] {
    
margin-left: 10px ;
margin-right: 10px ;
box-sizing: border-box ;
height: 24px ;min-height: 24px ;
width: 24px ;min-width: 24px ; font-size: 24px ;
}
section.layer-262-d9e3ea701deb42c1ab112bfdeacbc8c8[custom-agua-item="layer"] {
    flex-direction: row ;
border: 1px solid #E0E0E0;
border-radius: 25px ;
padding-top: 10px ;
padding-bottom: 10px ;
margin-left: 8px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
}
.icon-52-b290d7d849e6400c9041836c7eef504e[custom-agua-item="icon"] {
    
margin-left: 10px ;
margin-right: 4px ;
box-sizing: border-box ;
height: 24px ;min-height: 24px ;
width: 24px ;min-width: 24px ; font-size: 24px ;
}
.icon-62-0c65f2a5a0354990addb9d4508d1084a[custom-agua-item="icon"] {
    
margin-left: 4px ;
margin-right: 10px ;
box-sizing: border-box ;
height: 24px ;min-height: 24px ;
width: 24px ;min-width: 24px ; font-size: 24px ;
}
section.divider2[custom-agua-item="layer"] {
    

background-color: #E0E0E0 ;
height: 1px ;min-height: 1px ;
min-width: unset;
width: 100%;

}
