main.Home[custom-agua-item="screen"] {
    
background-color: #FFFFFF ;
overflow-y: scroll ;
scrollbar-width: none ;
-ms-overflow-style: none ;
}
section.homebanner[custom-agua-item="layer"] {
    
justify-content: center ;
align-items: center ;

padding-top: 22px ;
padding-bottom: 22px ;
padding-left: 80px ;
padding-right: 80px ;
box-sizing: border-box ;
background-color: #F5F5F5 ;
min-height:  unset ;height: fit-content ;flex-shrink: 0;

min-width: unset;
width: 100%;

}
p.text-1-d3fecca2132345e49c8c93fa9c44f55b[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 16px ;
font-weight: bold ;



}
section.divider[custom-agua-item="layer"] {
    

background-color: #E0E0E0 ;
height: 1px ;min-height: 1px ;
min-width: unset;
width: 100%;

}
section.homeheader[custom-agua-item="layer"] {
    

min-height:  unset ;height: fit-content ;flex-shrink: 0;

min-width: unset;
width: 100%;

}
section.homemenu[custom-agua-item="layer"] {
    

padding-left: 80px ;
padding-right: 80px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width: unset;
width: 100%;

}
section.homemenudesktop[custom-agua-item="layer"] {
    

min-height:  unset ;height: fit-content ;
min-width: unset;
width: 100%;

}
section.layer-14-87a09d4412024edf9d4d374637b06392[custom-agua-item="layer"] {
    flex-direction: row ;
align-items: center ;
justify-content: space-between ;

padding-top: 18px ;
padding-bottom: 18px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width: unset;
width: 100%;

position: relative;
}
section.layer-23-96c7ec2cb4e44fe4871e25fe4667f447[custom-agua-item="layer"] {
    flex-direction: row ;
align-items: center ;
justify-content: center ;

min-height: unset;
height: 100%;

min-width: unset;
width: 100%;

position: absolute;
}
p.text-7-1be88a869df2490d9c3ef0f8e8987c9f[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 16px ;
font-weight: bold ;

margin-left: 16px ;
margin-right: 16px ;
box-sizing: border-box ;


}
p.text-8-8fced5db04e3454086bc3bb5336e473d[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 16px ;


margin-left: 16px ;
margin-right: 16px ;
box-sizing: border-box ;


}
p.text-9-406739ddf9284d7e80abdbb44e1e1eba[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 16px ;


margin-left: 16px ;
margin-right: 16px ;
box-sizing: border-box ;


}
section.layer-24-9cb29b486c294de5bf7e051b477a9039[custom-agua-item="layer"] {
    

min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
z-index: 1;
}
.imageview-2-a8b0c1fc4243404a94fcf2004c05755e[custom-agua-item="imageView"] {
    
height: 30px ;min-height: 30px ;
width: 100px ;min-width: 100px ;
}
section.layer-25-e598ed483728499c8dc122cac7562be6[custom-agua-item="layer"] {
    flex-direction: row ;
align-items: center ;
justify-content: center ;

min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
z-index: 1;
}
p.text-10-050fec7cb1fd4677b5b6090f94d71962[custom-agua-item="text"] {
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif ;
font-size: 14px ;


margin-left: 10px ;
margin-right: 10px ;
box-sizing: border-box ;


}
.icon-4-4411bf9006ae42b9ac3f049c96fce558[custom-agua-item="icon"] {
    
margin-left: 10px ;
margin-right: 10px ;
box-sizing: border-box ;
height: 24px ;min-height: 24px ;
width: 24px ;min-width: 24px ; font-size: 24px ;
}
section.layer-26-503c3e91ce524f208d4fe958b3be2b2a[custom-agua-item="layer"] {
    flex-direction: row ;
border: 1px solid #E0E0E0;
border-radius: 25px ;
padding-top: 10px ;
padding-bottom: 10px ;
margin-left: 8px ;
box-sizing: border-box ;
min-height:  unset ;height: fit-content ;
min-width:  unset ;width: fit-content ;
}
.icon-5-521239dab55d477c80ddc047800735f9[custom-agua-item="icon"] {
    
margin-left: 10px ;
margin-right: 4px ;
box-sizing: border-box ;
height: 24px ;min-height: 24px ;
width: 24px ;min-width: 24px ; font-size: 24px ;
}
.icon-6-92a33771ab25410b91f24f388476e3b5[custom-agua-item="icon"] {
    
margin-left: 4px ;
margin-right: 10px ;
box-sizing: border-box ;
height: 24px ;min-height: 24px ;
width: 24px ;min-width: 24px ; font-size: 24px ;
}
section.layer-15-50b404c305c34c4aa25f534d7851e9c9[custom-agua-item="layer"] {
    

height: 100px ;min-height: 100px ;
width: 300px ;min-width: 300px ;
}
section.divider2[custom-agua-item="layer"] {
    

background-color: #E0E0E0 ;
height: 1px ;min-height: 1px ;
min-width: unset;
width: 100%;

}
